<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="caspar_media_playback.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="caspar_media_playback.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="CasparMediaplayback"/>
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <caspar_media_playback.My.MySettings>
            <setting name="rss" serializeAs="String">
                <value>http://news.google.com/news?pz=1&amp;cf=all&amp;ned=hi_in&amp;hl=hi&amp;output=rss</value>
            </setting>
            <setting name="rss_delimeter" serializeAs="String">
                <value>   *   </value>
            </setting>
            <setting name="rss_update_interval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="rss_speed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="decklink_live" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="rsstitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rssdescription" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtsearchtemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbfonttemplate" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="txtsearch" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbrecordformat" serializeAs="String">
                <value>mp4</value>
            </setting>
            <setting name="txtfilename" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="txtextrarecordoptions" serializeAs="String">
                <value>-codec:v mpeg4 -g 1 -alternate_scan 1</value>
            </setting>
            <setting name="txtleftlogo" serializeAs="String">
                <value>C:\Casparcg\mydata\left\clock1.swf</value>
            </setting>
            <setting name="txtrightlogo" serializeAs="String">
                <value>C:\Casparcg\mydata\right\Royal.jpg</value>
            </setting>
            <setting name="txtmiddle" serializeAs="String">
                <value>C:\Casparcg\mydata\middle\MovieBackground1.swf</value>
            </setting>
            <setting name="cmdstripcolor" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="lblstripcolor" serializeAs="String">
                <value>0x005500</value>
            </setting>
            <setting name="lblcolor" serializeAs="String">
                <value>0xFFFF00</value>
            </setting>
            <setting name="cmbfonths1" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="chkclock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkltrhs1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtcrawl" serializeAs="String">
                <value>Welcome To Doordarshan . This is Horizonal scroll line 1 testing. All are welcome to contribute.</value>
            </setting>
            <setting name="txtrsstimerinterval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="nrssspeed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="cmbrssvideoflashlayer" serializeAs="String">
                <value>76</value>
            </setting>
            <setting name="chkautomaticreadrss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkrsstitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkrssdescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkautomaticupdaterss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtinterval" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="txtbitrate" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="cmbvideolayerfortemplate" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="cmblayertemplate" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="nsize" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="nspeed" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ny" serializeAs="String">
                <value>510</value>
            </setting>
            <setting name="cmblayerhs1" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="lblstripcolor2" serializeAs="String">
                <value>0x005500</value>
            </setting>
            <setting name="lblcolor2" serializeAs="String">
                <value>0xFFFF00</value>
            </setting>
            <setting name="cmdstripcolor2" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="cmdcolor2" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="cmblayerhs2" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="ny2" serializeAs="String">
                <value>410</value>
            </setting>
            <setting name="chkclock2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nsize2" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="nspeed2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="cmbfonths2" serializeAs="String">
                <value>Impact</value>
            </setting>
            <setting name="chkltrhs2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nsizeV" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="nspeedV" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="cmbfontvs" serializeAs="String">
                <value>Impact</value>
            </setting>
            <setting name="txtcrawlv" serializeAs="String">
                <value>Overall In-charge
MUKESH SHARMA

Producers
Ravi Deep
Sandeep Sood

Assistant in Production 
Vijay Bhingarde
Yohan Samuel
Falgun Limbachiye
Priti Sawant

Presenters 
Milind Wagle
Akshay Maurya
Mona Pahuja
Charu Priya

Commentator (Marathi)
Prasanna Sant

Show Co-ordinators
Shrikala Hattangady
Prajyoti Manda
Sandhya Pujari
Santoshi Pawar

Audio-Video Clips
Vishwajit Walunje
Amit Agarkar
Yogesh Chavan
Shivaji Gangawane

Editors
Mrutyunjay Wadhwane
Siddhesh Chindarkar
Bhushan Gandhi

Graphics and Captions
Vimlesh Kumar
Sachin Binaram

Acknowledgements
MIT Group of Institution, Pune

Director of Photography
R.N. S. Reddy

Camera 
Pradeep Chakravorthy
N. Venkata Raman
Vijay Sharma
Chindananda Murthy
Sridhar Raj  Urs
Arun Wilson
B.M. Rajshekar
Venkata Raghavan
K.S. Ravidra
Maruti Rao

Jib Cameramen
Bhagesh Sharma
Pankaj Sharma
Deepak Jhadavkar

Video Asst.
Nirmal Sahoo
Sushant Bansode


ENG Teams
VM
V.R. Kulkarni

CCU
Rajendra Deshmukh
Shankar Renuse
Vilas Nanijkar

Audio 
Jayesh Wavhal (OB Van)
Sadanand Pednekar(Stadium/Commmentator)

EVS
Vijay Hadap
Peter Mahindraraj

VTR
Manoj Shelake

OB Maintenance
Nitin Patravale

Technicians
Dinesh Kolhatkar
L V Gavade

Helpers 
Shailesh Waghdhare
Prakash Kharade

Technical Director
V. Muppudathi

Producers 
Vidut Shah
Ashwani Kumar
Sanjay Karnik
Pradeep Chakraworthy
Sridhar Raj urs

Sound
Hemant Ramarao

Lighting Asstt.
Sanjay
Sripad
Shashi

Drivers
Iqbal Sangrar
Dilip Girase
Kishor Pawaskar
Prakash Surve
Narayan Shetty
Mayur Kadam
Sanjay Gabaji
Nandkumar Mistry

First Draw 
Thailand v/s Egypt
Japan v/ Korea
Indonesia V/s Srilanka
Vietnam v/s Hongkong
India-(Nirma) v/s Russian
Malaysia v/s India (VJTI)
Egypt v/s Fiji
Korea V/s Mongolia
Srilanka v/s Nepal
Honkong v/s Bangladesh
Russia v/s Iran
Indai VJTI v/s Kazakhstan
Fiji v/s Thailand
Mongolia v/s Japan
Nepal V/s Indonesia
Bangladesh v/s vietnam
Iran v/s India (Nirma)
kazakhstan V/s Malaysia

Bangladesh 
Chittagong University of Engineering and Technology 

Egypt 
Helwan University

Fiji 
University of the South Pacific

Hong Kong
Hong Kong University of Science and Technology

India 
Nirma University
Veermata Jijabai Technological Institute

Indonesia 
Institut Teknologi Sepuluh Nopember

Iran 
Bahonar University

Japan
Nagoya Institute of Technology

Kazakhstan
International IT University

Rep of Korea
Kwangwoon University

Malaysia
Universiti Teknologi Malaysia

Mongolia
Mongolian University of Science and Technology

Nepal
Tribhuvan University (IOE)

Russia
Don State Technical University

Sri Lanka
University of Peradeniya

Thailand
Dhurakijpundit University

Vietnam
Lac Hong University

</value>
            </setting>
            <setting name="lblcolorV" serializeAs="String">
                <value>0xFFFF00</value>
            </setting>
            <setting name="cmdcolorV" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="cmblayervs" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="cmbalign" serializeAs="String">
                <value>center</value>
            </setting>
            <setting name="cmbmediaforaudiotest" serializeAs="String">
                <value>go1080p25</value>
            </setting>
            <setting name="cmbchannel_layout" serializeAs="String">
                <value>smpte:L R C LFE Ls Rs</value>
            </setting>
            <setting name="txtlayerproducer1" serializeAs="String">
                <value>play 1-21 go1080p25 loop</value>
            </setting>
            <setting name="txtlayerproducer2" serializeAs="String">
                <value>play 1-2 route://1-1</value>
            </setting>
            <setting name="txtplaycolorbar" serializeAs="String">
                <value>play 1-22 color_bar</value>
            </setting>
            <setting name="txtchannelproducer" serializeAs="String">
                <value>play 2-1 route://1</value>
            </setting>
            <setting name="txtchromakey" serializeAs="String">
                <value>MIXER 1-22 CHROMA</value>
            </setting>
            <setting name="cmbchromacolor" serializeAs="String">
                <value>BLUE</value>
            </setting>
            <setting name="nchromathresholdcenter" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="nchromaspread" serializeAs="String">
                <value>0.04</value>
            </setting>
            <setting name="txtchromamixerclear" serializeAs="String">
                <value>mixer 1 clear</value>
            </setting>
            <setting name="txtstreamingproducer" serializeAs="String">
                <value>play 1-1 "http://localhost:8080/"</value>
            </setting>
            <setting name="txtdirectshowproducer" serializeAs="String">
                <value>play 1-1</value>
            </setting>
            <setting name="cmbcapturedevices" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbvideolayerformixer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txtvideowidth" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="txtvideoheight" serializeAs="String">
                <value>576</value>
            </setting>
            <setting name="nmixermastervolume" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="chkmovingbackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtanyamcpcommand" serializeAs="String">
                <value>Play 1-1 go1080p25 loop
cg 1-2 add 2 cmp/cg_template/clock 1</value>
            </setting>
            <setting name="cmbMiscellaneous" serializeAs="String">
                <value>info 1-1</value>
            </setting>
            <setting name="lblfilenameamcp" serializeAs="String">
                <value>Default File</value>
            </setting>
            <setting name="cmbflashlayerforswf" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="txtbreakingnewstag0" serializeAs="String">
                <value>xf0</value>
            </setting>
            <setting name="txtbreakingnewsvalue0" serializeAs="String">
                <value>Breaking News</value>
            </setting>
            <setting name="txtbreakingnewstag1" serializeAs="String">
                <value>xf1</value>
            </setting>
            <setting name="txtbreakingnewsvalue1" serializeAs="String">
                <value>Breaking News</value>
            </setting>
            <setting name="txtbreakingnewstag2" serializeAs="String">
                <value>xf2</value>
            </setting>
            <setting name="txtbreakingnewsupdateinterval" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="cmblayerbreakingnews" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="txtdelemeterforscroll" serializeAs="String">
                <value>   *   </value>
            </setting>
            <setting name="cmblayerscroll" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="nspeedscroll" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="cmblayertime" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="cmblayeronelinesuper" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="cmblayertwolinesuper" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="cmbtransitionforppt" serializeAs="String">
                <value>CUT</value>
            </setting>
            <setting name="rdojpg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="png" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ntransitiondurationforppt" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="cmbtweentypeforppt" serializeAs="String">
                <value>easenone</value>
            </setting>
            <setting name="cmblayervideoforppt" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="cmbdirectionforppt" serializeAs="String">
                <value>LEFT</value>
            </setting>
            <setting name="txttwolinecenter1" serializeAs="String">
                <value>Next Program</value>
            </setting>
            <setting name="txttwolinecenter2" serializeAs="String">
                <value>Discovery of India(Jawaharlal Nehru)</value>
            </setting>
            <setting name="txtthreelinecenter1" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="txtthreelinecenter2" serializeAs="String">
                <value>DDK MUMBAI</value>
            </setting>
            <setting name="txtthreelinecenter3" serializeAs="String">
                <value>PRESENTATION</value>
            </setting>
            <setting name="txtfourlinecenter1" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="txtfourlinecenter2" serializeAs="String">
                <value>DDK Mumbai</value>
            </setting>
            <setting name="txtfourlinecenter3" serializeAs="String">
                <value>Presentation</value>
            </setting>
            <setting name="txtfourlinecenter4" serializeAs="String">
                <value>Live from Mumbai</value>
            </setting>
            <setting name="txttopleft" serializeAs="String">
                <value>Live From Mumbai</value>
            </setting>
            <setting name="txttopright" serializeAs="String">
                <value>Recorded</value>
            </setting>
            <setting name="txtlivephonein1" serializeAs="String">
                <value>Vimlesh Kumar from Mumbai</value>
            </setting>
            <setting name="txtlivephonein2" serializeAs="String">
                <value>Suresh Paswan from Patna </value>
            </setting>
            <setting name="cmbsource1" serializeAs="String">
                <value>decklink 1</value>
            </setting>
            <setting name="cmbsource2" serializeAs="String">
                <value>decklink 2</value>
            </setting>
            <setting name="cmbsource3" serializeAs="String">
                <value>decklink 3</value>
            </setting>
            <setting name="cmbsource4" serializeAs="String">
                <value>decklink 4</value>
            </setting>
            <setting name="cmbtransition" serializeAs="String">
                <value>slide</value>
            </setting>
            <setting name="ntransitionduration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="cmbtweentype" serializeAs="String">
                <value>easenone</value>
            </setting>
            <setting name="cmbdirection" serializeAs="String">
                <value>RIGHT</value>
            </setting>
            <setting name="txtplaydecklinksm" serializeAs="String">
                <value>play 1 decklink 1</value>
            </setting>
            <setting name="txtrecordforslowmotion" serializeAs="String">
                <value>add 1 replay test-replay</value>
            </setting>
            <setting name="txtplayforslowmotion" serializeAs="String">
                <value>play 2-1 test-replay</value>
            </setting>
            <setting name="txtstoprecordforslowmotion" serializeAs="String">
                <value>remove 1 replay</value>
            </setting>
            <setting name="txtmarkin1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="txtmarkin2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="txtmarkin3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="txtmarkin4" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="txtslowmotionmaxframe" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="cmbslowmotionrecordquality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="cmbslowmotionrecordsubsampling" serializeAs="String">
                <value>422</value>
            </setting>
            <setting name="nlogox" serializeAs="String">
                <value>592</value>
            </setting>
            <setting name="nlogoy" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="nlogowidth" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="nlogoheight" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="txtlogolocation" serializeAs="String">
                <value>C:\Casparcg\mydata\logo\time.png</value>
            </setting>
            <setting name="lbllogofilename" serializeAs="String">
                <value>Default file</value>
            </setting>
            <setting name="cmbflashlayerforlogo" serializeAs="String">
                <value>41</value>
            </setting>
            <setting name="cmbliveoal" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="chkshowtimeofl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtfilelengthofl" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="txtbitrateofl" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cmbfileformateoal" serializeAs="String">
                <value>cmbfileformateoal</value>
            </setting>
            <setting name="txtextraoptionoal" serializeAs="String">
                <value>-x264opts tff=1 -vf setdar=4/3</value>
            </setting>
            <setting name="txtmediadirectoryoal" serializeAs="String">
                <value>H:/casparcg/_media</value>
            </setting>
            <setting name="txtdatetodeleteoal" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="lblshedulerecordingplaylist" serializeAs="String">
                <value>filename=default</value>
            </setting>
            <setting name="cmbimageforimagescroll" serializeAs="String">
                <value>vertical</value>
            </setting>
            <setting name="cmbimagescrollspeed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="cmbimagescrollblur" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmblayervideoforimage" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="chkPREMULTIPLY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkPROGRESSIVE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmbtransporttype" serializeAs="String">
                <value>Udp</value>
            </setting>
            <setting name="cmboscport" serializeAs="String">
                <value>6250</value>
            </setting>
            <setting name="cmbfontsforall" serializeAs="String">
                <value>Font</value>
            </setting>
            <setting name="txthost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="txtport" serializeAs="String">
                <value>5250</value>
            </setting>
            <setting name="cmblayervideo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cmbweathericon1videolayer" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="chktemplateforvideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtaddtemplate" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="txtremovetemplate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="cmblive" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="chkplaylistlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cmbchannel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtcrawl2" serializeAs="String">
                <value>Welcome To Doordarshan . This is Horizonal scroll line 2 testing. All are welcome to contribute.</value>
            </setting>
            <setting name="DateTimePicker1" serializeAs="String">
                <value>2014-10-03</value>
            </setting>
            <setting name="txtfps" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="nfontsizeforall" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="chkaspectratio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txthockeyip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="txthockeyport" serializeAs="String">
                <value>5250</value>
            </setting>
            <setting name="txtporip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="txtporport" serializeAs="String">
                <value>5250</value>
            </setting>
            <setting name="chksinglecliprecord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txthostnamebadminton" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="txtportbadminton" serializeAs="String">
                <value>5250</value>
            </setting>
            <setting name="cmblayertwitter" serializeAs="String">
                <value>81</value>
            </setting>
            <setting name="cmblayerfacebook" serializeAs="String">
                <value>86</value>
            </setting>
            <setting name="txtgraphfacebook" serializeAs="String">
                <value>https://graph.facebook.com/</value>
            </setting>
            <setting name="txtquery" serializeAs="String">
                <value>feed?id=casparcg</value>
            </setting>
            <setting name="txturlhtml" serializeAs="String">
                <value>file:///C:/casparcg/CMP/games/HtmlCricket/cricket_bottom_score/gwd_preview_cricket_bottom_score/index.html</value>
            </setting>
            <setting name="cmblayerhtml" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="txtcasparcgwindowtitle" serializeAs="String">
                <value>Screen consumer [1|PAL]</value>
            </setting>
            <setting name="txtConsumerkey" serializeAs="String">
                <value />
            </setting>
            <setting name="txtConsumersecret" serializeAs="String">
                <value />
            </setting>
            <setting name="txtAccesstokentwitter" serializeAs="String">
                <value />
            </setting>
            <setting name="txtAccesstokensecret" serializeAs="String">
                <value />
            </setting>
            <setting name="txtaccesstoken" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbcasparcgwindowtitle" serializeAs="String">
                <value>Screen consumer [1|PAL]</value>
            </setting>
            <setting name="cmbchanneltext" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cmblayervideo1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txtstreamingcosumer" serializeAs="String">
                <value>ADD 1 STREAM udp://localhost:5004 -codec:v libx264 -tune:v zerolatency -preset:v ultrafast -crf 25 -format mpegts -vf scale=240:180</value>
            </setting>
            <setting name="cmblayerosd" serializeAs="String">
                <value>106</value>
            </setting>
            <setting name="nnewspeed" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="newdelemterforscrollandclock" serializeAs="String">
                <value>   *   </value>
            </setting>
            <setting name="chkcapitalised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtsqlserver" serializeAs="String">
                <value>localhost\sqlexpress</value>
            </setting>
            <setting name="txtsqluser" serializeAs="String">
                <value>hp</value>
            </setting>
            <setting name="txtsqlpassword" serializeAs="String">
                <value>ddkm</value>
            </setting>
            <setting name="txtsqldatabase" serializeAs="String">
                <value>lto</value>
            </setting>
            <setting name="txtsqlport" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="nopacitylogo" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="cmblayerSqlhtml" serializeAs="String">
                <value>201</value>
            </setting>
            <setting name="cmdcolor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Vborercolor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="labelcolorborderv" serializeAs="String">
                <value>0xFF0000</value>
            </setting>
            <setting name="xdcamusername" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="xdcampassword" serializeAs="String">
                <value>xds-pd1000</value>
            </setting>
            <setting name="xdcamaddress" serializeAs="String">
                <value>http://192.168.1.54/webservice/</value>
            </setting>
        </caspar_media_playback.My.MySettings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DirectShowLib-2005" publicKeyToken="67E7B740CDFC2D3F" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DirectShowLib-2005" publicKeyToken="67e7b740cdfc2d3f" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.11.0" newVersion="8.0.11.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <applicationSettings>
  <caspar_media_playback.My.MySettings>
   <setting name="nVolume" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nopacity" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nbrightness" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nSaturation" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nContrast" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nclipx" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="nclipy" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="nclipxsclae" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nclipyscale" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nmin_input" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="nmax_input" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ngamma" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nmin_output" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="nmax_output" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nfillx" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="nfilly" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="nfillwidth" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nfillheight" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nanchorx" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="nanchory" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="nrotationz" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ncroptlx" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ncroptly" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ncropbrx" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ncropbry" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nperspectivetlx" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="nperspectivetly" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="nperspectivetrx" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nperspectivetry" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="nperspectivebrx" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nperspectivebry" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="nperspectiveblx" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="nperspectivebly" serializeAs="String">
    <value>1</value>
   </setting>
  </caspar_media_playback.My.MySettings>
 </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>



</configuration>
