<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="118.6.8" targetFramework="net48" />
  <package id="cef.redist.x86" version="118.6.8" targetFramework="net48" />
  <package id="CefSharp.Common" version="118.6.80" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="118.6.80" targetFramework="net48" />
  <package id="Google.Api.Gax" version="3.5.0" targetFramework="net48" />
  <package id="Google.Api.Gax.Rest" version="3.5.0" targetFramework="net48" />
  <package id="Google.Apis" version="1.55.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.55.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.55.0" targetFramework="net48" />
  <package id="Google.Apis.Translate.v2" version="1.55.0.875" targetFramework="net48" />
  <package id="Google.Apis.YouTube.v3" version="1.55.0.2449" targetFramework="net48" />
  <package id="Google.Cloud.Translation.V2" version="2.1.0" targetFramework="net48" />
  <package id="LargeAddressAware" version="1.0.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net461" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Core" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="TweetSharp" version="2.3.1" targetFramework="net461" />
  <package id="Vlc.DotNet.Core" version="3.1.0" targetFramework="net48" />
  <package id="Vlc.DotNet.Core.Interops" version="3.1.0" targetFramework="net48" />
  <package id="Vlc.DotNet.Forms" version="3.1.0" targetFramework="net48" />
</packages>